@tailwind base;
@tailwind components;
@tailwind utilities;

.about {
  @apply flex
  items-center
  flex-col
  relative
  duration-700
  text-sm
  text-blue-500 
  hover:text-gray-200
  hover:underline
  md:text-lg;
}

.about:hover > .dropDownItems {
  @apply flex
  flex-col
  absolute
  top-[0.5rem]
  bg-slate-400
  shadow-lg
  /* border */
  /* border-green-500 */
  rounded
  duration-700
  delay-500
  right-0
  gap-2
  text-sm
  w-[10rem]
  min-h-[13rem]
  pb-5
  px-2
  pt-5
  mt-5
  justify-center
  lg:top-2;
}

.dropDownItems {
  display: none;
}

.dropDownDiv {
  @apply border 
  bottom-2 
  py-2 px-3 
  rounded 
  hover:bg-gray-200
  text-blue-700
  text-center
  hover:duration-700
  ease-out;
}

/* Slug */
.slug {
  @apply capitalize 
  bg-yellow-500
  p-2 
  flex
  gap-5
  rounded-md
  justify-center
  text-white
  hover:bg-slate-200
  hover:text-blue-500 
  duration-500
  lg:w-[35rem];
}

/* about-readmore */
.about-readmore {
  @apply capitalize 
  bg-yellow-500
  p-2 
  flex
  gap-5
  w-full
  rounded-md
  justify-center
  text-white
  hover:bg-slate-200
  hover:text-blue-500 
  duration-500
  md:w-[35rem];
}

/* CS */
.cs-about {
  @apply bg-blue-500 
  text-center 
  capitalize
  text-white
  h-[2rem]
  flex
  items-center
  justify-center;
}

/* Executive */
.cs-exec {
  @apply bg-blue-500 
  text-center 
  capitalize
  text-white
  h-[2rem]
  flex
  items-center
  justify-center;
}
/* .img {
  @apply mt-5
  h-[15rem]
  bg-red-200
  w-[15rem]
  mb-10

  flex 
  justify-center
  items-center
} */
